body {
  margin: 0;
  padding: 0;
  background: hsla(256, 48%, 11%, 1);
}
html {
  scroll-behavior: smooth;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1400px;
  margin: auto;
  margin-bottom: 100px;
  padding: 10px;
  border-bottom: 1px solid grey;
  background: hsla(256, 48%, 11%, 1);
  #logo {
    list-style: none;
    color: hsla(0, 0%, 100%, 1);
    font-size: 36px;
    font-weight: 700;
  }

  a button {
    background: linear-gradient(
      270deg,
      #903aff 0%,
      #d434fe 56.42%,
      #ff26b9 99.99%,
      #fe34b9 100%
    );
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
}
header li a {
  text-decoration: none;
  color: #fff;
}
span {
  color: purple;
}
ul {
  display: flex;
  margin-left: 100px;
  li {
    list-style: none;
  }
  li a {
    text-decoration: none;
    padding: 30px;
    color: hsla(0, 0%, 100%, 1);
  }
}

a .fa-arrow-left {
  color: white;
  font-size: 30px;
  margin-left: 40px;
  position: fixed;
  top: 40px;
  display: none;
}
/* for the contact form */
main {
  max-width: 1400px;
  margin: auto;
}
section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1400px;
  margin-bottom: 100px;
}
section div {
  width: 20%;
  p {
    color: white;
  }
  img {
    padding: 5px;
  }
}
form {
  background: hsla(0, 0%, 100%, 0.03);
  border-radius: 10px;
  padding: 40px 20px;
  text-align: center;

  input,
  textarea {
    width: 80%;
    padding: 8px;
    margin: 10px 0px;
    background: hsla(0, 0%, 100%, 0.03);
    border: 1px solid hsla(0, 0%, 100%, 1);
    color: white;
  }
  button {
    background: linear-gradient(
      270deg,
      #903aff 0%,
      #d434fe 56.42%,
      #ff26b9 99.99%,
      #fe34b9 100%
    );
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    width: 100px;
    text-align: center;
  }
  p {
    font-family: Clash Display;
    font-weight: 600;
    font-size: 20px;
    line-height: 30%;
    letter-spacing: 0%;
    text-align: justify;
  }
  p {
    margin-left: 40px;
  }
}

.mobile,
.mobile-contact {
  display: none;
}

@media (max-width: 845px) {
  header {
    display: none;
  }
  a .fa-arrow-left {
    display: block;
  }
  section {
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    display: block;

    div {
      width: 100%;
      margin: auto;

      p,
      img,
      span {
        display: none;
      }
    }
    form {
      /* margin-top: 300px; */
      background: none;
    }
  }

  form .mobile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 8px;
    background: hsla(0, 0%, 100%, 0.03);
    border: 1px solid hsla(0, 0%, 100%, 1);
    color: white;
  }

  .mobile-contact {
    display: block;
    text-align: center;

    p {
      font-size: 30px;
    }
    img {
      margin: 5px 10px;
    }
  }
}
